.idea
.run
bin

**/.godot

/BangDreamLib/animations
/BangDreamLib/fonts
/BangDreamLib/images
/BangDreamLib/materials
/BangDreamLib/models
/BangDreamLib/scenes
/BangDreamLib/shaders
/BangDreamLib/themes

CLAUDE.md
*.sln.DotSettings.user
*.uid
*.import

SpineGodotExtension4.5.1
